.accordeon__container {
    width:100%;
    display:flex;
    margin:0 auto 2em auto;
    justify-content:center;
    flex-direction:column;
    

    @media screen and (max-width: 768px) {
        width:100%;
    }
}

.accordeon__header {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    background-color:$color-1;
    padding:0 1em;
    border-radius:5px;
    width:100%;
    height: 50px;

    @media screen and (max-width: 768px) {
        height:35px;
    }
}

.accordeon__header__title{
    display:flex;
    color:white;
    padding:0 1em;
    font-size:1.6em;
    margin:0;

    @media screen and (max-width: 768px) {
        font-size:1.1em;
    }
}

.accordeon__header__arrow {
    margin:0;
    padding:1em;

    :hover {
        cursor:pointer;
    }

    img {
        width: 32px;
        height:32px;
    }

    @media screen and (max-width: 768px) {
        padding:0.2em;
    }
}

.accordeon__content__txt, .accordeon__content__array {
    margin-bottom:1em;
    color:$color-1;
    background-color: rgba(246, 246, 246, 1);
    padding: 1.2em 1em 1em 1em;
    border-radius: 0 0 5px 5px;
    margin : 0;
    height:100%;
    font-size:1.2em;
    line-height:1.4em;
  
    @media screen and (max-width: 768px) {
        font-size:1em;
    }
}

.accordeon__content__array {
    padding: 1em 1em 0 1em;
}

.accordeon__content__array:last-child {
    padding: 1em;
}